/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
    background-color: black;
}
.profile-icon {
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    font-size: 90px;
}

.profile-info{
    height: 200px;
}

.artist-banner {
    background-image: url("../public/media/images/ts-banner-image.jpg");
}

.verified {
    color: #1DA1F2;
}

.artist-profile-info {
    height: 200px;
}

.artist-title {
    font-size: 80px;
    font-weight: 800;
}